--- 
---
<div class="jumobtron">
    <h1 class="mx-5 my-5 text-center">Academic Works</h1>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="d-none d-md-block col-md-2 order-last text-center">
            <div style="border: 1px solid black;position: fixed;" class="mr-5">
                {% assign index = 0 %}
                {% for var in site.data.academic %}
                    
                    {% assign type = var[0] %} 
                    {% if index != 0 %}
                    <hr style="background-color: rgb(0, 0, 0);width:80%; opacity: 1" class="mx-auto">
                    {% endif %}
                    
                    <div style="width:80%;" class="mx-auto py-2">
                        <a href="#{{type}}">{{type}}</a>
                    </div>
                    {% assign index = 1 %}
                {% endfor %}
            </div>
            
        </div>
        <div class="col-12 col-md-10 pl-5">
            {% assign bold_author_name = '<b>' | append: site.author_name | append: '</b>' %}
            {% for var in site.data.academic %}
                {% assign type = var[0] %} 
                <h3 id="{{type}}">{{type}}</h3>
                {% assign publications = var[1] %} 
                {% for pub in publications %} 
                    <div class="mb-3 ml-3">
                        <div>
                            {{pub.title}}
                        </div>
                        <div>
                            {{pub.authors | replace: site.author_name, bold_author_name}}
                        </div>
                        <div>
                            {{pub.location}} | {{pub.date}}
                        </div>
                        <div>
                            {% if pub.arxiv %} 
                                [<a href="{{pub.arxiv}}">arXiv</a>]
                            {% endif %} 
                            {% if pub.bibtex %} 
                                [<a href="{{pub.bibtex}}">bibtex</a>]
                            {% endif %} 
                            {% if pub.link %} 
                                [<a href="{{pub.link}}">link</a>]
                            {% endif %} 
                            {% if pub.video %} 
                                [<a href="{{pub.video}}">video</a>]
                            {% endif %} 
                            {% if pub.pdf %} 
                                [<a href="{{pub.pdf}}" target="_blank">pdf</a>]
                            {% endif %} 
                        </div>
                    </div>
                {% endfor %}
            {% endfor%}
        </div>
    </div>
</div>