---
title: Jordan K Terry
description: Jordan K Terry
index: true
---
<style>
    a{
        color: black;
    }
</style>
<div class="jumbotron mb-0" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 offset-md-1">
                <div class="d-flex flex-column text-center my-5">
                    <h1 class="mb-2 mt-2">Jordan K Terry</h1>
                    <h5 style="font-weight: 400px;">{{site.email}}</h5>

                    <p class="text-left mt-5">
                        I am the CEO of the <a href="https://farama.org/">Farama Foundation</a>, a reinforcement learning standards nonprofit, and CEO of <a href="https://swarmlabs.com/">Swarm Labs</a>, a stealth mode artificial intelligence startup. Before that I completed a PhD in computer science at the University of Maryland, where I was advised by <a href="https://jpdickerson.com/">John Dickerson</a> and <a href="https://complex.umd.edu/">Dan Lathrop</a>.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="d-flex flex-column text-center">
                    <div class="">
                        <img class="img-fluid my-5" src="jordan.jpg" style="width: 50%" alt="Jordan K Terry"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <style>
    *{
        border: 1px solid black
    }
</style> -->

<div class="container">
    <div class="row text-center">
        <div class="col-12 col-md-5 mb-3 offset-md-1">
            <a href="academic-works.html"><h2>Academic Works</h2></a>
        </div>
        <div class="col-12 col-md-5">
            <a href="cv"><h2>Curriculum Vitae</h2></a>
        </div>
    </div>
</div>

<div class="container text-center mt-5 py-5">
    <div class="row">
        <div class="col-12 d-flex flex-row justify-content-around row">
            {% for media in site.data.media %}
                {% if media.name == "google-scholar" %}
                    {% assign link = site.google-scholar %}
                {% elsif media.name == "twitter" %}
                    {% assign link = site.twitter %}
                {% elsif media.name == "youtube" %}
                    {% assign link = site.youtube %}
                {% elsif media.name == "github" %}
                    {% assign link = site.github %}
                {% elsif media.name == "linkedin" %}
                    {% assign link = site.linkedin %}
                {% endif %}

                <div class="col-6 col-sm-4 col-md-2 mb-5 mb-md-0 d-flex align-items-center">
                    <a href="{{link}}"><img src="assets/{{media.name}}.svg" class="mx-5" style="width: 30%;"></a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
